.card {
    display: flex;
    flex: 1;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background: white;
    border-radius: 10px;
    align-content: center;
    z-index: 100;
}

.card__photo {
    width: 100px;
    height: 100px;
}

.card__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px;
}

.card__info > h2 {
    margin-bottom: 10px;
}

.card__date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;

}

.card__icon {
    width: 100%;
    align-items: center;
}