.header { 
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: #483d8b;
}

.header__leftSide {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 100%;
}

.header__logo {
    margin: 10px;
    height: 80%;
    object-fit: contain;
}

.header__menu {
    cursor: pointer;
    color: #eef3fc;
}

.header__search {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0px 80px;
    background-color: white;
    border-radius: 5px;
}

.MuiFormControl-root {
    flex: 1;
}

.header__input input {
    flex: 1;
    padding: 7px !important;
}

.header__serachIcon {
    background-color: lightgray !important;
    height: 31px;
}

.header__rightSide {
    display: flex;
}

.header__iconHeight {
    height: 30px !important;
    width: 30px !important;
    margin: 0 10px;
    color: #eef3fc;
}

.header__profile {
    border-radius: 50%;
    overflow: hidden;
}

.header__profile > img {
    width: 100%;
}