.sidebar {
    flex: 0.2;
    position: relative;
    left: 0;
    transition: all 1s ease-in-out;
}

.sidebar__remove {
    position: relative;
    left: -200px;
    flex: 0;
    margin-right: 0;
    transition: all 1s ease-in-out;
}